<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('favicon.png') }}" rel="icon" type="image/ico">
            <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('../components/bootstrap-datepicker/bootstrap-datepicker-built.css') }}">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <img src="{{ asset('musee_louvre.png') }}" alt="Musée du louvre">
                </div>
                {% block body %}

                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('../components/bootstrap-datepicker/bootstrap-datepicker-built.js') }}"></script>
            <script src="{{ asset('../components/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js') }}" charset="UTF-8"></script>
            <script>
                $(document).ready(function() {
                    $('.datepicker').datepicker({
                        format: 'dd-mm-yyyy',
                        language: 'fr',
                        daysOfWeekDisabled: [2, 0],
                        datesDisabled: [
                            '01-01-yyyy',
                            '01-05-yyyy',
                            '08-05-yyyy',
                            '14-07-yyyy',
                            '15-08-yyyy',
                            '01-11-yyyy',
                            '25-12-yyyy'
                        ],
                        changeMonth: true,
                        changeYear: true,
                        beforeShowDay: function (date, inst) {
                            var today = new Date();

                            today = Date.parse(today.getMonth()+1+'/'+today.getDate()+'/'+today.getFullYear());

                            var selDate = Date.parse(date);

                            if (selDate > today) {
                                $('.datepicker').val('');
                                $(inst).datepicker('show');
                                return [false, ''];
                            }
                            else {
                                return [true, ''];
                            }

                        }
                    });
                    $('.datepicker-birthdate').datepicker({
                        format: 'dd-mm-yyyy',
                        language: 'fr',
                        changeMonth: true,
                        changeYear: true,
                        beforeShowDay: function (date, inst) {
                            var today = new Date();

                            today = Date.parse(today.getMonth()+1+'/'+today.getDate()+'/'+today.getFullYear());

                            var selDate = Date.parse(date);

                            if (selDate > today) {
                                $('.datepicker-birthdate').val('');
                                $(inst).datepicker('show');
                                return [false, ''];
                            }
                            else {
                                return [true, ''];
                            }

                        }
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
