{% extends 'base.html.twig' %}

{% block title %}
    Réservation musée du louvre
{% endblock %}

{% block body %}
    <h1>Billetterie officielle</h1>
    <p>Entrée libre, sans billet, sur présentation d’un justificatif pour
        les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen,
        les personnes handicapées et leur accompagnateur, et les bénéficiaires
        des minima sociaux.<br/>
        Billet valable seulement le jour sélectionné.</p>
    <h2>Affichage de(s) réservation(s): </h2>
        <table class="table table-bordered">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
                <th>Pays</th>
                <th>Date de réservation</th>
                <th>Type de billet</th>
                <th>Tarif réduit ?</th>
                <th>Code de réservation</th>
            </tr>
            {% for visitor in listVisitors %}
            <tr>
                    <td>{{ visitor.lastname }}</td>
                    <td>{{ visitor.firstname }}</td>
                    <td>{{ visitor.birthdate|date('d-m-Y') }}</td>
                    <td>{{ visitor.country }}</td>
                    <td>{{ reservation.reservationdate|date('d-m-Y') }}</td>
                    <td>
                        {% if(reservation.ticketType == 0) %}
                            Demi-journée
                        {% else %}
                            Journée
                        {% endif %}
                    </td>
                    <td>
                        {% if(visitor.tariff == 0) %}
                            Non
                        {% else %}
                            Oui
                        {% endif %}
                    </td>
                    <td>
                        <strong>{{ reservation.reservationCode }}</strong>
                    </td>
            </tr>
            {% endfor %}
        </table>

    {# Formulaire #}
    <h2>Formulaire de réservation</h2>
    <div class="well">
        <div class="form-group">
            {{ form_label(reservationForm.email, 'Adresse email') }}
            {{ form_errors(reservationForm.email) }}
            {{ form_widget(reservationForm.email) }}
        </div>

        <div class="form-group">
            {{ form_label(reservationForm.reservationDate, 'Date de réservation') }}
            {{ form_errors(reservationForm.reservationDate) }}
            {{ form_widget(reservationForm.reservationDate) }}
        </div>

        <div class="form-group">
            {{ form_label(reservationForm.ticketType, 'Type de billet ') }}
            {{ form_errors(reservationForm.ticketType) }}
            {{ form_widget(reservationForm.ticketType) }}
        </div>
        <div class="form-group">
            {{ form_label(reservationForm.visitors, 'Nombre de visiteur') }}
            {{ form_errors(reservationForm.visitors) }}
            {{ form_widget(reservationForm.visitors) }}
        </div>

        <div class="form-group">
            <button class="btn btn-default">Précédent</button>
            {{ form_widget(reservationForm.next, {'label': 'Suivant'}) }}
        </div>
    </div>

{% endblock %}