{% extends 'base.html.twig' %}

{% block title %}
    Réservation musée du louvre
{% endblock %}

{% block body %}
    <h1>Billetterie officielle</h1>
    <p>Entrée libre, sans billet, sur présentation d’un justificatif pour
        les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen,
        les personnes handicapées et leur accompagnateur, et les bénéficiaires
        des minima sociaux.<br/>
        Billet valable seulement le jour sélectionné.</p>

    {# Formulaire #}
    <h2>Formulaire de réservation</h2>

    <div class="well">
        <div class="form-group">
            {{ form_label(visitorForm.lastname, 'Nom') }}
            {{ form_errors(visitorForm.lastname) }}
            {{ form_widget(visitorForm.lastname) }}
        </div>

        <div class="form-group">
            {{ form_label(visitorForm.firstname, 'Prénom') }}
            {{ form_errors(visitorForm.firstname) }}
            {{ form_widget(visitorForm.firstname) }}
        </div>

        <div class="form-group">
            {{ form_label(visitorForm.country, 'Pays') }}
            {{ form_errors(visitorForm.country) }}
            {{ form_widget(visitorForm.country) }}
        </div>

        <div class="form-group">
            {{ form_label(visitorForm.country, 'Pays') }}
            {{ form_errors(visitorForm.country) }}
            {{ form_widget(visitorForm.country) }}
        </div>

        <div class="form-group">
            {{ form_label(visitorForm.birthdate, 'Date de naissance') }}
            {{ form_errors(visitorForm.birthdate) }}
            {{ form_widget(visitorForm.birthdate) }}
        </div>

        <div class="form-group">
            {{ form_label(visitorForm.tariff) }}
            {{ form_widget(visitorForm.tariff) }}
        </div>

        <div class="form-group">
            <button class="btn btn-default">Précédent</button>
            {{ form_widget(visitorForm.next, {'label': 'Suivant'}) }}
        </div>
    </div>
{% endblock %}