{% extends 'base.html.twig' %}

{% block title %}
    Réservation musée du louvre
{% endblock %}

{% block body %}
    <h1>Billetterie officielle</h1>
    <p>Entrée libre, sans billet, sur présentation d’un justificatif pour
        les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen,
        les personnes handicapées et leur accompagnateur, et les bénéficiaires
        des minima sociaux.<br/>
        Billet valable seulement le jour sélectionné.</p>
    <h2>Affichage de(s) réservation(s): </h2>
        <table class="table table-bordered">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
                <th>Pays</th>
                <th>Date de réservation</th>
                <th>Type de billet</th>
                <th>Tarif réduit ?</th>
                <th>Code de réservation</th>
            </tr>
            <tr>
                <td>{{ reservation.lastname }}</td>
                <td>{{ reservation.firstname }}</td>
                <td>{{ reservation.birthdate|date('d-m-Y') }}</td>
                <td>{{ reservation.country }}</td>
                <td>{{ reservation.reservationdate|date('d-m-Y') }}</td>
                <td>
                    {% if(reservation.ticketType == 0) %}
                        Demi-journée
                    {% else %}
                        Journée
                    {% endif %}
                </td>
                <td>
                    {% if(reservation.tariff == 0) %}
                        Non
                        {% else %}
                        Oui
                    {% endif %}
                </td>
                <td>Code de réservation</td>
            </tr>
        </table>


    <div>
        {{ form(form) }}
    </div>
{% endblock %}