{% extends 'base.html.twig' %}

{% block title %}
    Réservation musée du louvre
{% endblock %}

{% block body %}
    <h1><i class="fa fa-ticket" aria-hidden="true"></i>    Billetterie officielle</h1>

    {# Formulaire #}
    <div class="well">
        {{ form_start(reservationForm) }}
        {{ form_row(reservationForm.email) }}
        {{ form_row(reservationForm.reservationDate) }}
        {{ form_row(reservationForm.ticketType) }}
        {{ form_row(reservationForm.visitors) }}
        <div class="text-right">
            {{ form_row(reservationForm.submit) }}
            {{ form_end(reservationForm) }}
        </div>
    </div>

{% endblock %}