{% extends 'base.html.twig' %}

{% block title %}
    Réservation musée du louvre
{% endblock %}

{% block body %}
    <h1>Billetterie officielle</h1>
    <p>Entrée libre, sans billet, sur présentation d’un justificatif pour
        les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen,
        les personnes handicapées et leur accompagnateur, et les bénéficiaires
        des minima sociaux.<br/>
        Billet valable seulement le jour sélectionné.</p>

    {# Formulaire #}
    <h2>Formulaire de réservation</h2>
    <div class="well">
        {{ form_start(reservationForm) }}
        {{ form_row(reservationForm.email) }}
        {{ form_row(reservationForm.reservationDate) }}
        {{ form_row(reservationForm.ticketType) }}
        {{ form_row(reservationForm.visitors) }}
        <div class="right">
            {{ form_row(reservationForm.submit) }}
            {{ form_end(reservationForm) }}
        </div>
    </div>

{% endblock %}