{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}
{% block body %}
    <h2>Récapitulatif de réservation</h2>

    <p class="text-uppercase lead ">
        Billet
        {% if ticketType == true %}
            Journée
        {% else %}
            Demi-Journée
        {% endif %}
    </p>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Nom</th>
            {% for lastname in lastnames %}
                <td>{{ lastname }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Prénom</th>
            {% for firstname in firstnames %}
                <td>{{ firstname }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Pays</th>
            {% for country in countries %}
               <td>{{ country }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Date de naissance</th>
            {% for birthdate in birthdates %}
                <td>{{ birthdate|date('d/m/Y') }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Tarif réduit ?</th>
            {% for tariff in tariffs %}
                {% if tariff == 1 %}
                        <td>Oui</td>
                    {% else %}
                        <td>Non</td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>Prix par billet</th>
            {% for price in ticketPrice %}
                <td><strong>{{ price }} €</strong></td>
            {% endfor %}
        </tr>
    </table>


    <h4 class="text-right">Total: {{ total }} €</h4>

    <form action="{{ path('order_checkout') }}" method="POST" class="text-right">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_LQgIJa9tPe000ePbsB6TdzAF"
                data-amount="{{ total }}00"
                data-name="Musée du louvre"
                data-description="Réservation de billet"
                data-image="{{ asset('louvre.jpg') }}"
                data-locale="auto"
                data-zip-code="true"
                data-currency="eur"
                data-label="Payer avec votre carte"
                data-allow-remember-me="false">
        </script>
    </form>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_LQgIJa9tPe000ePbsB6TdzAF');
        var elements = stripe.elements();
    </script>

{% endblock %}