{% extends 'base.html.twig' %}

{% block title %}
    Réservation musée du louvre
{% endblock %}

{% block body %}

    {# Formulaire #}
    <div class="well">
        <div class="form-group">
            <p><a href="{{ path('form_reserv') }}">Précédent</a></p>
            <p><strong>Adresse email:</strong> {{ email }} </p>
            <p><strong>Date de réservation:</strong> {{ reservationDate|date("d/m/Y") }} </p>
            <p><strong>Type de billet:</strong> {% if ticketType == true %}Journée{% else %}Demi-Journée{% endif %} </p>
            <p><strong>Nombre de visiteurs</strong>: {{ visitors }} </p>
        </div>
    </div>

    <h1>Informations sur le(s) visiteur(s)</h1>
    <div class="well">
        <div class="fullForm">
            {% for i in 1..visitors %}
                <h4>Billet {{ i }}</h4>
                {{ form_start(visitorForm) }}
                {{ form_row(visitorForm[i-1].lastname) }}
                {{ form_row(visitorForm[i-1].firstname) }}
                {{ form_row(visitorForm[i-1].country) }}
                {{ form_row(visitorForm[i-1].birthdate) }}
                {{ form_row(visitorForm[i-1].tariff) }}
            {% endfor %}
            <div class="text-right">
                {{ form_rest(visitorForm) }}
                {{ form_end(visitorForm) }}
            </div>
        </div>
    </div>
{% endblock %}